body {
    font-family: Verdana, sans-serif;
    background: #eef;
    text-align: center;
}
h1 {
    color: #444;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}
th, td {
    border: 1px solid #555;
    padding: 10px;
}
th {
    background: #007BFF;
    color: white;
}
td {
    background: #fff;
}
